<!DOCTYPE html>
<html>

    <%- include ('../partials/head.ejs') %>
 
    <link rel="stylesheet" href="/css/shoppingCart.css">
    <script src="../../../js/purchaseFinalized.js"></script>      

</head>

<body>

    <%- include ('../partials/header.ejs') %>
 
    <!-- Main -->
    <main>
       
        <div class="div-contenido-carrito">  
            <div class="mensaje">
                <p>¡Felicitaciones! </p>
                <p>Su compra se completó exitosamente.</p>

                <div class="more-products">
                    <a href="/">Volver al Inicio</a>
                </div>
            </div>`;
            
        </div>   
    </main>

    <!-- Footer -->
    <%- include ('../partials/footer.ejs') %>
 
</body>

</html>