/* -------------------------------------------------------------------------------------*/
/* -------------------  CSS HEADERPARA FUNCIONES DE ADMIN PARA TODOS LOS FORMATOS DE PANTALLA -------*/
/* -------------------------------------------------------------------------------------*/

/* --------------------------  general  -----------------------------------------------*/

* {  
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100%;
    margin: 0;
    text-align: center;
    /* background-color: var(--gris-claro);
    background-image: url('../images/logo/isologo-blanco.png'); */
    background-size: 5%;
    background-repeat: repeat; 
    color: var(--gris-medio2);
}

/* -----------------------------  header  -----------------------------------------------*/

header{
    background-color: transparent;
    width: 100%;
    background-image: radial-gradient(73% 147%, #EADFDF 59%, #ECE2DF 100%), radial-gradient(91% 146%, rgba(255, 255, 255, 0.50) 47%, rgba(0, 0, 0, 0.50) 100%);
}

.header{
    margin: auto;
    padding: 20px 0 20px 20px;
    display: flex;
    justify-content: space-between;
}

.logo {
    display: block;
    text-align: left;
    margin: 1.3vh;
}

.logo img{
    width: 7vw;
    height: 7vw   
}

.user-data {
    display: none;
}

.div-bars-menu {
    width: 20%;
    text-align: right;
    margin: 1.9vh;
}

/* .div-bars-menu a {
    display: block;
} */

.div-bars-menu button {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 1vh;
}

.i-bars-menu {
    color: var(--negro);
    font-size: 4vw;
}

.nav-user {
    display: none;
    position: absolute;
    background-color: var(--gris-muy-claro);
    text-align: left;
    margin: 0;
    z-index: 1;
    width: 50vw;
    right: 0;
    top: 13vh;
}

.nav-user ul li {
    list-style: none;
    padding:5px 0 5px 0;
}

.nav-user ul li:hover {
    background-color: var(--gris-claro);
}

.nav-user ul li a {
    font-size: 12px;
    text-decoration: none;
    width: 100%;
    padding-left: 10px;
    text-align: right;
    text-transform: uppercase;
}

.nav-user ul li a:hover {
    background-color: var(--gris-claro);
}

.user-name i {
    margin-left: 10px;
    color: var(--gris-oscuro);
}

.user-name ul {
    align-items: center;
}

.nav-options-user {
    background-color: var(--gris-muy-claro);
    padding: 0px;
    text-align: left;
    margin: 0;
}

.nav-options-user li {
    margin-bottom: 10px;
}

.nav-options-user a {
    color: var(--gris-medio2);
    width: 100%;
    padding: 5px 0px;
}

.nav-options-user a:hover {
    background-color: rgb(237, 234, 234);
}

.cerrar-menu {
    text-align: right;
    font-size: 15px;
    
}



/* @media (min-width:480px) {
    .logo a {
        width: 15%;
    }
    
}   */

@media (min-width:769px) {
    .logo img {
        width: 5.5vw;
        height: 5.5vw   
    }

    .div-bars-menu {
        display: none;
    } 
    
    .user-data {
        display: flex;
        justify-content: flex-end;
        width: 30vw;
        height: 5.5vh;
        margin: 4vh 5vh;
    }

    .user-img {
        border-radius: 100%;
        /* border: 1px var(--gris-medio2) solid; */
        width: 2.5vw;
        height: 2.5vw;
        margin-right: 10px;
    }

    .user-name p {
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 1vh;
        font-size: 2vh;
        text-transform: uppercase;
        font-weight: 530;    }

    .user-name:hover .nav-user {
        display: block;
    }

    .nav-user {
        width: 15vw;
        top: 15vh;
    }
    
       
}
    