main {
    padding: 0 5%;
    padding-bottom: 20px;
    background-image: radial-gradient(73% 147%, #EADFDF 59%, #ECE2DF 100%), radial-gradient(91% 146%, rgba(255, 255, 255, 0.50) 47%, rgba(0, 0, 0, 0.50) 100%);
    margin-top: 200px;
}

.user {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0;
}

.change-image{
    display: flex;
    flex-direction: column;
    width: 40%;
}

.change-image label{
    width: 70%;
    background-color: var(--marron);
    color: white;
    font-size: 12px;
    font-weight: bold;
    border: none;
    letter-spacing: 1px;
    padding: 5px;
}

.input-img-block{
    display: block;
    width: 20vw;
    font-size: 10px;
}

.input-img{
    display: none;
}

.button-img-block{
    display: block;
    width: 20vw;
    font-size: 14px;
}

.button-img{
    display: none;
}

.userImg {
    width: 20vw;
    /* height: 25vw; */
    margin: 0;
}

.user img {
    width: 100%;
    object-fit: contain;
    border: 1px solid var(--gris-medio);
}

.userData {
    width: 40vw;
    margin: 0 30px;
    font-size: 16px;
    text-align: left;
}

.userData p {
    margin-top: 0;
}

.userData strong {
    font-size: 20px;
}

.buttons{
    display: flex;
}

.button {
    text-align: left;
    margin: 30px 0;
    margin-right: 10px;
}

.button button {
    margin-left: 10px;
    background-color: var(--gris-medio2);
    color: white;
    border:none;
    padding: 10px;
    margin: auto
}

.mensaje {
    background-image: radial-gradient(73% 147%, #EADFDF 59%, #ECE2DF 100%), radial-gradient(91% 146%, rgba(255, 255, 255, 0.50) 47%, rgba(0, 0, 0, 0.50) 100%);
    color: red;
    font-weight: bold;
    font-size: 16px;
    border: none;
    width: 100%;
    margin: 15px 0;
}

.changeImg-empty{
    display: none;
}

@media (min-width:480px){
    .change-image label{
        width: 20vw;
        font-size: 14px;
    }
}