<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
        <meta charset="utf-8">
        <title></title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&family=Poppins:wght@700&family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/notFound.css">
</head>

<body>
     
        <div class="container">
             
                <img src="/images/fondos/error-404.png" alt="error-404">
                
                <h2>Oop! Page not found</h2>
                <h1>404</h1>
                <p>We can't find the page you're looking for.</p>
                <a href="/">Go back home</a>
        </div>


</body>

</html>