<div class="div-datos-producto">
    <label for="nombreProducto">Nombre del producto:</label>
    <input type="text" name="nombreProducto" id="nombreProducto" required >
</div>

<div class="div-datos-producto">
    <label for="descripcionProducto">Descripción:</label>
    <textarea name="descripcionProducto" id="descripcionProducto" required maxlength="300"></textarea>
</div>

<div class="div-datos-producto">
    <label for="categoriaProducto">Categoría:</label>
    <input list="categorias" name="categoriaProducto" id="categoriaProducto" required>
    <datalist id="categorias">
        <option value="Cámaras">
        <option value="Televisores">
        <option value="Vinilos">
        <option value="Tocadiscos">
        <option value="Radios">
        <option value="Teléfonos">
    </datalist>
</div>

<div class="div-datos-producto">
    <label for="color">Color:</label>
    <input list="colores" name="color" id="color">
    <datalist id="colores">
        <option value="Blanco">
        <option value="Negro">
        <option value="Rojo">
        <option value="Verde">
        <option value="Azul">
        <option value="Amarillo">
        <option value="Marrón">
    </datalist>
</div>

<div class="div-datos-producto">
    <label>Precio:</label>
    <input type="number" name="precio" id="precio" required>
</div>

<div class="div-datos-producto">
    <label>Imagen del producto:</label>
    <input type="file" name="imagenProducto" id="imagenProducto" accept=".jpg, .png" required>
</div>
